/*CSS BY Matthew Adcock */

/*IMPORTED FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap");

/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*ROOT VARIABLES*/

:root {
  --Teal: #4ca7c0;
  --Purple: #484fb7;
  --Lavender: #6b8fe7;
  --Yellow: #e9bb57;
  --Pink: #d9526f;
  --Dark-gray: #1e1e1e;
  --White: #ffffff;

  --body-fonts: Inter, Kavoon, sans-serif;

  background-color: var(--Lavender);
}

/*GLOBAL STYLES*/

header,
main,
footer {
  width: 100%;
  max-width: 450px;
  font-family: var(--body-fonts);
  background-color: var(--Purple);
  margin: 0 auto;
}

header h1 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em 1em 0.25em 1em;
}

header p {
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  text-align: center;
  padding: 0 1em 1em 2em;
}

h1 {
  font-size: 3em;
  color: var(--White);
}

nav {
  background-color: var(--Yellow);
  padding: 0 1em 1em 1em;
  text-transform: uppercase;
  font-weight: bold;
}

h1,
h2 {
  font-family: Kavoon;
}

nav h2 {
  font-size: 1.5em;
  font-family: var(--body-fonts);
  color: var(--Dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  padding-bottom: 0.25em;
}
nav a {
  text-decoration: none;
  color: var(--Purple);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  padding: 1em;
}

nav li {
  text-decoration: none;
  padding: 0.25em;
}

h2 {
  font-size: 2em;
  color: var(--White);
  padding: 0.5em 0 0.25em 0.5em;
}

h3 {
  font-size: 1.5em;
  padding-left: 0.6em;
  color: var(--Yellow);
  font-weight: bold;
}

h4 {
  font-size: 1.15em;
  color: var(--Purple);
  font-weight: bold;
  line-height: 2em;
}

p {
  line-height: 1.5em;
}

#box-pd,
#box-cc,
#box-rc,
#box-sc,
#box-fs,
#box-il,
#box-fl {
  background-color: var(--White);
  padding: 1.5em;
  margin: 1.5em;
  border-radius: 1em;
}

#why-choose-us {
  background-color: var(--Pink);
}

#why-choose-us ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

#why-choose-us li {
  padding: 2em;
  font-weight: bold;
  font-size: large;
  text-align: center;
  border-radius: 1em;
}

#why-choose-us li:nth-child(1) {
  background-color: var(--Teal);
}

#why-choose-us li:nth-child(2) {
  background-color: var(--Lavender);
}

#why-choose-us li:nth-child(3) {
  background-color: var(--Yellow);
}

#why-choose-us li:nth-child(4) {
  background-color: var(--White);
}

table {
  background-color: var(--White);
  margin: 1em auto;
}

table,
th,
td {
  border: 3px solid var(--Yellow);
}

th {
  background-color: var(--Yellow);
  font-weight: bold;
  text-transform: uppercase;
}

th,
td {
  padding: 1em;
}

#take-the-first-step {
  background-color: var(--Pink);
  padding-bottom: 1em;
}

#take-the-first-step p {
  margin: 0 1em 1em 1em;
  color: var(--White);
}

button {
  background-color: var(--White);
  border: none;
  padding: 1.5em 10em;
  border-radius: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px var(--Dark-gray);
  display: block;
  margin: 0 auto;
}

footer {
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  color: var(--White);
}

footer a {
  color: var(--White);
}
